@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

* {
    margin: 0; padding: 0;
}

html {
    font-family: "Roboto";
    font-size: 62.5%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.info {
    display: block;
    margin: 1% 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: red;
}

*[data-react-toolbox="card"] {
    min-width: 240px;
    max-width: 320px;
    margin: 10px;
}
